Flask
gunicorn
numpy
pillow
pydantic
scikit-learn
joblib
pandas
fastapi
uvicorn
streamlit
imblearn
xgboost
lightgbm
nltk
matplotlib
seaborn
wordcloud
requests
contractions
transformers
torch
flask==2.3.3
pandas==2.0.3
scikit-learn==1.3.0
gunicorn==21.2.0
Werkzeug==2.3.7
numpy==1.24.3
streamlit==1.25.0
